@{
    Layout = null;
}

<html>
<head>
    <title>Home</title>
</head>
<body>
    <div style="width: 50%;margin: auto; text-align:center">
        <ul style="display:inline-block;text-align:left">
            <li>Name: @Model.Name</li>
            <li>Age: @Model.Age</li>
            <li>Job: @Model.Job</li>
            <li>Favorite Color: @Model.FavColor</li>
            <li>Hobby: @Model.Hobby</li>
        </ul>
    </div>
</body>
</html>
